.modal-container {
    background: linear-gradient(to bottom right, #faf6f6, #faf5f5);
    border-radius: 5%;
}
.modal-header {
    background: linear-gradient(to bottom right, #0719b4, #387ce2);
}
.modal-title {
    margin-left: 120px;
    text-align: center;
    display: flex;
    color: aliceblue;
    font-size: 30px;
   
}

.radio-select-container {
    margin-bottom: 40px;
}

.radio-select-title {
    text-align: center;
    margin: 10px 0px 10px 0px ;
    padding-bottom: 10px;
    font-size: 20px;
}
.radio-select {
    margin-left: 150px;
    
}

.form-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    border-start-end-radius: 20px;
  }
  
  .form-container label {
    flex-basis: 30%;
    margin-bottom: 10px;
    margin-left: 18px;
    font-size: 20px;
  }
  
  .form-container input {
    flex-basis: 65%;
    margin-left: 1%;
    margin-bottom: 10px;
    font-size: 20px;
  }
  



